name: wasm

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup packages
      run: |
        sudo apt update -qq
        sudo apt -y --allow-downgrades --allow-remove-essential --allow-change-held-packages install python3-pip cmake curl wget unzip git libtinfo-dev python3 python3-yaml
        python3 -m pip install dataclasses
    - name: Setup emscripten
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        git pull
        ./emsdk install latest
        ./emsdk activate latest
        source ./emsdk_env.sh
    - name: Setup pytorch
      run: |
        git clone https://github.com/pytorch/pytorch.git
        cd pytorch ; git checkout v1.6.0 ; git submodule update --init
        patch -p1 < ../pytorch.patch
    - name: cmake
      run: |
        source emsdk/emsdk_env.sh
        mkdir pytorch/build
        cd pytorch/build
        emcmake cmake -DCMAKE_BUILD_TYPE=Release -DUSE_STATIC_DISPATCH=ON -DUSE_NUMA=OFF -DINTERN_BUILD_MOBILE=ON -DBUILD_SHARED_LIBS=OFF -DCMAKE_PREFIX_PATH=`pwd`/.. -DPYTHON_EXECUTABLE=/usr/bin/python3 -DFXDIV_SOURCE_DIR=`pwd`/../third_party/FXdiv -DPSIMD_SOURCE_DIR=`pwd`/../third_party/psimd ..
    - name: Build
      run: |
        source emsdk/emsdk_env.sh
        cd pytorch/build
        emmake make
        mkdir dest
        emmake make install DESTDIR=`pwd`/dest
    - name: Test
      run: |
        source emsdk/emsdk_env.sh
        emcc test.cpp -Lpytorch/build/dest/usr/local/lib -lcpuinfo -ltorch_cpu -ltorch -lc10 -lclog -leigen_blas -lfmt -lpthreadpool -Ipytorch/build/dest/usr/local/include  -Ipytorch/build/dest/usr/local/include/torch/csrc/api/include -s DISABLE_EXCEPTION_CATCHING=0 -Wno-parentheses  pytorch/third_party/cpuinfo/src/emscripten/init.c -Ipytorch/third_party/cpuinfo/src
        node a.out.js
