name: wasm

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup packages
      run: |
        sudo apt update -qq
        sudo apt -y --allow-downgrades --allow-remove-essential --allow-change-held-packages install python3-pip cmake curl wget unzip git libtinfo-dev python3 python3-yaml
        python3 -m pip install dataclasses
    - name: Setup emscripten
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        git pull
        ./emsdk install latest
        ./emsdk activate latest
        source ./emsdk_env.sh
    - name: Setup pytorch
      run: |
        git clone https://github.com/pytorch/pytorch.git
        cd pytorch ; git submodule update --init
    - name: cmake
      run: |
        source emsdk/emsdk_env.sh
        mkdir pytorch/build
        cd pytorch/build
        emcmake cmake -DCMAKE_BUILD_TYPE=Release -DUSE_NUMA=OFF -DINTERN_BUILD_MOBILE=ON -DBUILD_SHARED_LIBS=OFF -DCMAKE_PREFIX_PATH=`pwd`/.. -DPYTHON_EXECUTABLE=/usr/bin/python3 -DFXDIV_SOURCE_DIR=`pwd`/../third_party/FXdiv -DPSIMD_SOURCE_DIR=`pwd`/../third_party/psimd ..
    - name: Build
      run: |
        source emsdk/emsdk_env.sh
        cd pytorch/build
        emmake make
